* {
    margin: 0;
    padding: 0;
}

body {
    margin: 2%;
    padding: 5%;
    background: linear-gradient(to bottom, #e5e7e6, #c6bcaa);
    color: rgb(64, 74, 74);
}

.drawings {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#drw {
    width: 300px;
    height: auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}


#drw:hover {
    transform: scale(1.1);
}

header {
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    background: #93441A;
    display: flex;
    border-radius: 10px;
    justify-content: flex-end;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 10px;
}

.ul_nav {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

a {
    text-decoration: none;
    color: azure;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #93441A;
}

#facebook {
    width: 50px;
    height: 50px;
}

#instagram {
    width: 50px;
    height: 50px;
}

#ul_contact {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
}